---
layout: default
---

<div class="header-bar">
  <h1>Ryan Chae</h1>
  <h2>Data Scientist | Washington, D.C.</h2>
  <br/>
  <hr>
  <br/>
</div>

{% for post in paginator.posts %}

{% if post.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ post.redirect }}" target="_blank">
        {% if post.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ post.title }}</h1>
            <br/>
            <p>{{ post.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.img %}
        <img class="thumbnail" src="{{ post.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
        <span>
            <h1>{{ post.title }}</h1>
            <br/>
            <p>{{ post.description }}</p>
        </span>
        </a>
    </div>
</div>

{% endif %}

{% endfor %}
